.picture {
  border-radius: 50%;
}

/* .markerIcon {
  color: rgb(0, 238, 255);
} */

.map {
  width: 100%;
  height: 30vh;
}

.mapText {
  position: absolute;
  top: 3.7rem;
  left: 2rem;
  color: #020e1f52;
  z-index: 10;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.mapSearch {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 200px;
  z-index: 11;
}

.mapSearch input {
  padding: 0.2rem;
  font-size: 0.7rem;
  width: 100%;
}

.mapLocate {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}

.mapLocate img {
  width: 30px;
  cursor: pointer;
}

.mapEmployeeIcon {
  position: absolute;
  top: 5.5rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
  width: 50px;
  cursor: pointer;
}

/* Table with sticky header and scrollable body */

table {
  width: 100%;
}

thead,
tbody,
tr {
  display: block;
}

tbody {
  font-size: 0.65rem;
}

tr:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 35px;

  /*text-align: left;*/
}

tbody {
  height: 350px;
  overflow-y: auto;
}

thead {
  /* fallback */
}

tbody td,
thead th {
  width: 14%;
  float: left;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
